.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3vw;
}

.work-gallery {
  column-count: 4;
  column-gap: 0.5rem;
  width: 100%;
}

.work-item {
  break-inside: avoid;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer; /* Указатель при наведении */
  margin-bottom: 0.5rem;
}

.work-item img {
  width: 100%;
  border-radius: 5px;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease; /* Анимация масштаба */
}

.work-item.loaded {
  opacity: 1;
  transform: translateY(0);
}

/* Анимация при наведении */
.work-item:hover img,
.work-item:active img {
  transform: scale(1.05); /* Увеличение масштаба на 5% */
}

.category-title {
  break-inside: avoid;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .work-gallery {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .work-gallery {
    column-count: 2;
  }
}
