.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3vw;
}

.work-gallery {
  column-count: 4;
  column-gap: 0.5rem;
  width: 100%;
}

.work-item {
  padding: 0 0 0.5rem 0;
  break-inside: avoid;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  border-radius: 5px;
  overflow: hidden;
}

.work-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.work-item.loaded {
  opacity: 1;
  transform: translateY(0);
}

.category-title {
  padding: 0.5rem 0 0 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .work-gallery {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .work-gallery {
    column-count: 2;
  }
}

/* @media (max-width: 480px) {
  .work-gallery {
    column-count: 1;
  }
} */
